body{
   text-align: center;
   font-family: 'Merriweather Sans', sans-serif;
}

.cloud1{
    padding: 0 0 0 500px;
 
   
}

.mt{
    margin: 200px 0 auto 100px;
}
.cloud2{
 position: relative;
 display: inline-block;
 padding-right: 200px;
}
